@use "../helpers" as *;

.video-player {
	position: relative;

	&__video {
		height: fluid(412, 210);
		width: 100%;
		object-fit: cover;
		border-radius: rem(12);

		@include laptop {
			border-radius: rem(10);
		}
	}

	&__panel {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: space-between;
		align-items: end;
		column-gap: rem(1);
		padding: rem(30);
		transition-duration: var(--transition-duration);

		&:not(.is-active) {
			// @include hide;
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: linear-gradient(
				180deg,
				rgba(20, 20, 20, 0) 44.27%,
				#141414 100%
			);
		}

		* {
			position: relative;
		}
	}

	&__play-button {
		--size: #{rem(70)};

		@include laptop {
			--size: #{rem(50)};
		}

		@include square(--size);

		padding: 0;
		border: none;
		color: var(--color-light);
		background-color: transparent;

		@include hover {
			color: var(--color-accent);
		}

		@include flex-center;
	}
}