@use "../helpers" as *;

.blog-actions {
	&__list {
		display: flex;
		column-gap: rem(10);

		@include laptop {
			column-gap: rem(8);
		}
	}

	&__button {
		display: inline-flex;
		align-items: center;
		column-gap: rem(4);
		font-family: var(--font-family-accent);
		font-size: rem(18);
		background-color: var(--color-dark-10);
		color: var(--color-dark-60);
		border: var(--border);
		border-radius: rem(100);

		
		@include laptop {
			column-gap: rem(2);
			font-style: rem(14);
		}

		&.is-active {
			svg * {
				fill: red;
				stroke: red;
			}
		} 
	}

	&__icon-wrapper {
		
		--size: #{rem(24)};
		
		@include square(var(--size));
		
		display: flex;

		@include laptop {
			--size: #{rem(20)};
		}

		svg {
			width: 100%;
			height: 100%;
			
			* {
				fill: transparent;
			}
		}
	}
}