@use "../helpers" as *;

.bordered-grid {
	--columns: 1;
	--itempaddingY: #{fluid(80, 40)};

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);

	&--2-cols {
		--columns: 2;
	}

	&--3-cols {
		--columns: 3;
		--itempaddingX: #{rem(50)};

		@include laptop {
			--itempaddingX: #{rem(40)};
		}

		.bordered-grid__item {
			/*
				Выбор элементов первой и второй колонки.
			*/
			&:nth-child(3n - 2),
			&:nth-child(3n - 1) {
				padding-right: var(--itempaddingX);
				border-right: var(--border);
			}
			/*
				Выбор второй колонки.
			*/
			&:nth-child(3n - 1) {
				@include full-vw-centered-line(bottom);
			}
			/*
				Выбор элементов второй и третьей колонки.
			*/
			&:nth-child(3n - 1),
			&:nth-child(3n) {
				padding-left: var(--itempaddingX);
			}
		}
	}

	&__item {
		padding-block: var(--itempaddingY);
	}
}