@use "../helpers" as *;

.bordered-grid {
	--columns: 1;
	--itempaddingY: #{fluid(80, 40)};

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);

	&--2-cols {
		--columns: 2;
		--itemPaddingX: #{rem(80)};

		@include laptop {
			--itemPaddingX: #{rem(50)};
		}
		
		@include mobile-above {
			.bordered-grid__item {
	
				&:nth-child(odd) {
					padding-right: var(--itemPaddingX);
					border-right: var(--border);
				}
	
				&:nth-child(even) {
					padding-left: var(--itemPaddingX);
					
					@include full-vw-centered-line(
						bottom,
						auto,
						100%,
						50%
					);
				}
			}
		}

		@include mobile {
			--columns: 1;

			.bordered-grid__item:not(:last-child) {
				border-bottom: var(--border);
			}
		}
	}

	&--3-cols {
		--columns: 3;
		--itemPaddingX: #{rem(50)};

		column-gap: calc(var(--itemPaddingX) * 2);

		@include laptop {
			--itemPaddingX: #{rem(40)};
		}

		@include tablet-above {
			.bordered-grid__item {
				/*
					Выбор элементов первой и второй колонки.
				*/
				&:nth-child(3n - 2),
				&:nth-child(3n - 1) {
					position: relative;
					// padding-right: var(--itemPaddingX);
					// border-right: var(--border);

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: calc(100% + var(--itemPaddingX));
						width: rem(1);
						height: 100%;
						background-color: var(--color-dark-15);
					}
				}
				/*
					Выбор второй колонки.
				*/
				&:nth-child(3n - 1) {
					@include full-vw-centered-line(bottom);
				}
				/*
					Выбор элементов втор ой и третьей колонки.
				*/
				&:nth-child(3n - 1),
				&:nth-child(3n) {
					// padding-left: var(--itemPaddingX);
				}
			}
		}

		@include tablet	{
			--columns: 1;

			.bordered-grid__item:not(:last-child) {
				border-bottom: var(--border);
			}
		}
	}

	&--4-cols {
		--columns: 4;

		--itemPaddingX: #{rem(50)};

		column-gap: calc(var(--itemPaddingX) * 2);

		@include laptop {
			--itemPaddingX: #{rem(30)};
		}

		@include tablet-above {
			.bordered-grid__item {
				/*
					Обращение к элементам 1, 2 и 3.
				*/
				&:nth-child(4n - 3),
				&:nth-child(4n - 2),
				&:nth-child(4n - 1) {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: calc(100% + var(--itemPaddingX));
						width: rem(1);
						height: 100%;
						background-color: var(--color-dark-15);
					}
				}
			}
		}

		@include tablet {
			--columns: 2;
		}

		@include mobile {
			--columns: 1;
			.bordered-grid__item {
				&:not(:last-child) {
					border-bottom: var(--border);
				}
			}
		}
	}

	&__item {
		padding-block: var(--itempaddingY);
	}
}