@use "../helpers" as *;

.footer {
	color: var(--color-dark-40);

	&__body {
		padding-block: fluid(80, 40);
		border-bottom: var(--border);
	}

	&__menu {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: start;
		column-gap: fluid(80, 20);
	}

	&__menu-column {
		display: grid;
		row-gap: fluid(36, 16);
	}

	&__menu-main-link {
		font-weight: 500;
		color: var(--color-light);
	}

	&__menu-list {
		display: grid;
		row-gap: fluid(18, 8);
	}

	&__menu-item {
		display: flex;
		align-items: center;
		column-gap: rem(8);
	}

	&__extra {
		display: flex;
		justify-content: space-between;
		padding-block: rem(40);
		align-items: center;
		column-gap: 1rem;

		@include laptop {
			padding-block: rem(24);
		}

		&-menu {
			&-list {
				display: flex;
			}
				
			&-item {
				&:not(:last-child) {
					&::after {
						content: '|';
						margin-inline: rem(11);
					}
				}
			}
		}
	}







	


}