@use "../helpers" as *;

.hero {
  &__main {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-areas:
      "body resources-preview"
      "metrics resources-preview";
  }

  &__body {
    grid-area: body;
    padding-bottom: rem(100);
    padding-right: rem(50);
    padding-top: rem(150);

    @include laptop {
      padding-top: rem(100);
      padding-right: rem(40);
    }
  }

  &__subtitle {
    @include fluid-text(30, 18);
    font-family: var(--font-family-accent);
    font-weight: 500;
    color: var(--color-dark-40);

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__metrics {
    grid-area: metrics;
    border-top: var(--border);
  }

  &__resources-preview {
    grid-area: resources-preview;
    border-left: var(--border);
    padding-left: rem(80);
    padding-bottom: rem(80);
    background: url("/src/images/resources-preview/resources-preview.png") 0 0 / cover no-repeat;

    @include laptop {
      padding-left: rem(50);
      padding-bottom: rem(50);
    }
  }

  &__advantages {
    border-block: var(--border);
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      --paddingX: #{rem(80)};
      padding-block: rem(50);

      @include laptop {
        padding-block: rem(40);
        --paddingX: #{rem(50)};
      }

      &:not(:first-child) {
        padding-left: var(--paddingX);
      }

      &:not(:last-child) {
        padding-right: var(--paddingX);
        border-right: var(--border);
      }
    }
  }
}
