@use "../helpers" as *;

.select {
	&__original-control {
		@include mobile-above {
			// @include visually-hidden;
		}
	}

	&__button, 
	&__option {
		user-select: none;
		cursor: pointer;

		* {
			pointer-events: none;
		}
	}

	&__body {
		position: relative;

		@include mobile {
			@include visually-hidden;
		}
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(6);
		transition-duration: var(--transition-duration); // Т.к. все поля у нас имеют transition-duration, а этого div этого нет.

		@include laptop {
			column-gap: rem(4);
		}

		&.is-expanded {
			&::after {
				rotate: -180deg;
			}
		}

		&::after {
			--size: #{rem(24)};

			@include square(var(--size));

			content: '';
			background: url('/src/icons/arrow-down__white.svg') center/contain no-repeat;
			transition-duration: var(--transition-duration);

			@include laptop {
				--size: #{rem(20)};
			}
		}
	}

	&__dropdown {
		/* 
			Позиционирование выпадающего меню по горизонтали мы будем определять силами js.
			Когда центр кнопки selecet__button находится по оси X в левой части экрана select__dropdown будет спозиционирован по левой границе select__body.
			А если же центр кнопки selecet__button находится по оси X в правой части, то выпадающее меню будем позиционировать по правой границе select__body.
			Это нужно для того, чтобы выпадающее меню никогда не вышло за пределы окна (вьюпорта).
		*/
		position: absolute;
		top: calc(100% + #{rem(4)});
		display: grid;
		row-gap: rem(4);
		min-width: rem(150);
		max-width: rem(300);
		max-height: rem(250);
		overflow-y: auto;
		padding: rem(4);
		background-color: var(--color-dark-10);
		border: var(--border);
		border-radius: rem(6);
		transition-duration: var(--transition-duration);

		&.is-on-the-left-side {
			left: 0;
			transform-origin: 0 0;
		}

		&.is-on-the-right-side {
			right: 0;
			transform-origin: 100% 0;
		}

		&:not(.is-expanded) {
			@include hide;
			scale: 0;
		}
	}

	&__option {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(10);
		border: var(--border);
		border-radius: inherit;

		@include hover {
			color: var(--color-accent);
			background-color: var(--color-dark);
		}

		&.is-selected {
			color: var(--color-accent);

			&::after {
				content: '✔';
			}
		}

		&.is-current {
			border-color: var(--color-accent);
		}
	}
}