@use "../helpers" as *;

.tabs {
	&__header {
		border-bottom: var(--border);

		@include tablet {
			overflow-x: auto;
		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: rem(20);
		padding-block: fluid(50, 20);

		@include laptop {
			column-gap: rem(14);
		}

		@include tablet {
			width: max-content;
		}

		&--compact {
			display: inline-flex;
			background-color: var(--color-dark);
			border-radius: rem(10);
			padding: rem(10);
			column-gap: rem(10);

			.tabs__button {
				padding-block: rem(18);
				padding-inline: fluid(38, 13);

				@include laptop {
					padding-block: rem(14);
				}

				&.is-active {
					background-color: var(--color-dark-15);
				}
			}
		}
	}

	&__button {
		padding: fluid(30, 18) rem(11);
		color: var(--color-gray-60);
		background-color: transparent;
		border: var(--border);
		border-radius: rem(8);

		@include hover {
			color: var(--color-accent);
			border-color: var(--color-accent);
		}

		&.is-active {
			background-color: var(--color-dark-10);
			color: var(--color-light);
			pointer-events: none;
		}
	}

	&__content {
		&:not(.is-active) {
			display: none;
		}

		&:focus-visible {
			outline-offset: -1rem;
		}
	}

}