@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "./blocks/header";
@use "./blocks/burger-button";
@use "./blocks/icon";
@use "./blocks/image";
@use "./blocks/logo";
@use "./blocks/button";
@use "./blocks/badge";
@use "./blocks/footer";
@use "./blocks/soc1als";

// .header, main {
// 	display: none !important;
// }
