@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "./blocks/header";
@use "./blocks/burger-button";
@use "./blocks/icon";
@use "./blocks/image";
@use "./blocks/logo";
@use "./blocks/button";
@use "./blocks/badge";
@use "./blocks/footer";
@use "./blocks/soc1als";
@use "./blocks/metrics";
@use "./blocks/team";
@use "./blocks/resources-preview";
@use "./blocks/advantage-card";
@use "./blocks/hero";
@use "./blocks/tag";
@use "./blocks/list";
@use "./blocks/card";
@use "./blocks/tile";
@use "./blocks/section";
@use "./blocks/tabs";
@use "./blocks/person-card";
@use "./blocks/blog-actions";
@use "./blocks/blog-card";
@use "./blocks/download-info";
@use "./blocks/bordered-grid";
@use "./blocks/rating-view";
@use "./blocks/review-card";
@use "./blocks/about-card";
@use "./blocks/about";
@use "./blocks/hero-alt";
@use "./blocks/summary";
@use "./blocks/news-card";
@use "./blocks/news";
@use "./blocks/_video-player";
@use "./blocks/_video-card";
@use "./blocks/expandable-content";
@use "./blocks/table-of-content";
@use "./blocks/blog-details";
// .header,
// .hero,
// .footer {
//   display: none !important; // <-- Скрытие
// }
