@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "./blocks/header";
@use "./blocks/burger-button";
@use "./blocks/icon";
@use "./blocks/image";
@use "./blocks/logo";
@use "./blocks/button";
@use "./blocks/badge";
@use "./blocks/footer";
@use "./blocks/soc1als";
@use "./blocks/metrics";
@use "./blocks/team";
@use "./blocks/resources-preview";
@use "./blocks/advantage-card";
@use "./blocks/hero";

// .header,
// .footer {
//   display: none !important; // <-- Скрытие
// }
